* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  .cima{


    margin-top: 35px;


  }


.Coluna_Linhas{

  margin-top: 63px;
  margin-top: 100px;

}

.Coluna_Linhas h1{

  margin-left: 144px;
  margin-bottom: 30px;



}

.Estado{

  width: 500px;

}

.botoess{

  margin-left: 204px;
  

}

.botoess button{

  margin-left: 50px;
  margin-top: 28px;;
  width: 100px;
  height: 30px;
  background-color: orange;
  color: white;
  border-radius: 7px;
  text-transform: none;
  text-decoration: none;


}

.blocoImg{

  width: 150px;
  height: 150px;
  background-color: #C4C4C4;
  border-radius: 100px;
  margin-right: 100px;
  position: absolute;
  margin-left: 153vh;
  margin-top: 100px;


}